
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Product" asp-action="Create">Add Products</a>
<h1>Index</h1>
@TempData["msg"]

<br/>

<h3>Product Name:</h3>@TempData["productName"]<br />
<h3>Price</h3>@TempData["price"]<br/>
<h3>Description</h3>@TempData["description"]